# 意思決定分析と予測の活用｜第2部 決定分析の基礎
https://logics-of-blue.com/decision-analysis-and-forecast-book-support/

## 第2章	Pythonの導入

## Pythonの基本事項

### list

In [1]:
# list
nums = [1, 2, 3]
nums

[1, 2, 3]

### 関数の作成

In [2]:
# 関数の作成
def my_func(in_value):
    out_value = in_value * 10
    return(out_value)

In [3]:
my_func(in_value=5)

50

In [4]:
my_func(5)

50

### numpyとpandasの初歩

In [5]:
# 数値計算に使うライブラリ
import numpy as np
import pandas as pd

### numpyのndarray

In [6]:
# numpyのndarray(1次元)
array_1 = np.array([1, 2])
array_1

array([1, 2])

In [7]:
# これは計算できる
array_1 + 1

array([2, 3])

In [8]:
# listだとうまくいかない(工夫すればできます)
# nums + 1
# TypeError: can only concatenate list (not "int") to list

### pandasのDataFrame

In [9]:
# pandasのDataFrame
df_1 = pd.DataFrame({
    'column1': [1, 2, 3],
    'column2': [4, 5, 6]
})
df_1.index = ['row1', 'row2', 'row3']
print(df_1)

      column1  column2
row1        1        4
row2        2        5
row3        3        6

### pandasのSeries

In [10]:
# pandasのSeries
series_1 = pd.Series([7, 8])
series_1.index = ['idx1', 'idx2']
series_1

idx1    7
idx2    8
dtype: int64

In [11]:
# df_1の1列目だけを取り出す
series_2 = df_1['column1']
print(series_2)

row1    1
row2    2
row3    3
Name: column1, dtype: int64

### DataFrameの演算

In [12]:
# 1を足す
print(df_1 + 1)

      column1  column2
row1        2        5
row2        3        6
row3        4        7

In [13]:
# 1を足す
print(df_1.add(1))

      column1  column2
row1        2        5
row2        3        6
row3        4        7

In [14]:
# 参考

# 引き算
print('引き算')
print(df_1.sub(1))

# 掛け算
print('掛け算')
print(df_1.mul(2))

# 割り算
print('割り算')
print(df_1.div(2))

引き算
      column1  column2
row1        0        3
row2        1        4
row3        2        5
掛け算
      column1  column2
row1        2        8
row2        4       10
row3        6       12
割り算
      column1  column2
row1      0.5      2.0
row2      1.0      2.5
row3      1.5      3.0

In [15]:
# 参考
print('足し算')
print(series_1.add(1))

# 引き算
print('引き算')
print(series_1.sub(1))

# 掛け算
print('掛け算')
print(series_1.mul(2))

# 割り算
print('割り算')
print(series_1.div(2))

足し算
idx1    8
idx2    9
dtype: int64
引き算
idx1    6
idx2    7
dtype: int64
掛け算
idx1    14
idx2    16
dtype: int64
割り算
idx1    3.5
idx2    4.0
dtype: float64

### DataFrameの行や列を対象とした演算

In [16]:
# 列ごとに最大値を取得する
df_1.max()

column1    3
column2    6
dtype: int64

In [17]:
# 行ごとに最大値を取得する
df_1.max(axis=1)

row1    4
row2    5
row3    6
dtype: int64

### DataFrameに対する関数の適用

In [18]:
# 底が2である対数の計算
np.log2(4)

2.0

In [19]:
# 全ての数値の対数を取る。行と列が保持される
print(df_1.apply(np.log2))

       column1   column2
row1  0.000000  2.000000
row2  1.000000  2.321928
row3  1.584963  2.584963

In [20]:
# 列ごとに合計値を計算する
df_1.apply(np.sum, axis=0)

column1     6
column2    15
dtype: int64

In [21]:
# 行ごとに合計値を計算する
df_1.apply(np.sum, axis=1)

row1    5
row2    7
row3    9
dtype: int64

In [22]:
# 合計値を計算する場合は以下のようにしても良い
df_1.sum(axis=1)

row1    5
row2    7
row3    9
dtype: int64